Repository DarkVelarion18/shiny-barnacle, changes with the labels that .github/labeler.yml gives for each.
All labels: game, ui, gamekit, ci, swift, assets, documentation, misc

.github/labeler.yml:

# Label PRs based on file paths, branch names, or targets

game:
  - changed-files:
      - any-glob-to-any-file:
          - 'GameScene.swift'
          - 'Sources/**/GameScene.swift'
          - '**/Game*.swift'

ui:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*Label*.swift'
          - '**/*Node*.swift'

gamekit:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*GameKit*.swift'
          - '**/*GK*.swift'
          - '**/*GameCenter*.swift'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*.yml'
          - '.github/**/*.yaml'

swift:
  - changed-files:
      - any-glob-to-any-file: '**/*.swift'

assets:
  - changed-files:
      - any-glob-to-any-file:
          - 'Assets.xcassets/**'
          - 'Resources/**'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.markdown'
          - '**/README*'
          - '**/LICENSE*'
          - 'docs/**'

# Generic fallback label for any PR that changes anything at all
misc:
  - changed-files:
      - any-glob-to-any-file: '**'

# Optional: Label based on branch naming (e.g. `feature/something`)
feature:
  - head-branch: ['^feature', 'feature']

# Optional: Label when PR targets `main` (for releases or production code)
release:
  - base-branch: 'main'

Remove double Foundation imports
  main.swift
Labels: swift, misc

Update Player and scorelabel variables to better safe
  main.swift
Labels: swift, misc

Add basic game constants for player, bullet, and invader speed
  main.swift
Labels: swift, misc

Update README.md
  README.md
Labels: documentation, misc

Update Nuova cartella (2)/index.py
  Nuova cartella (2)/index.py
Labels: misc

Update Nuova cartella (2)/package (2).json
  Nuova cartella (2)/package (2).json
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update tender-trappist/tsconfig.json
  tender-trappist/tsconfig.json
Labels: misc

Update Nuova cartella (2)/src/lib/api.ts
  Nuova cartella (2)/src/lib/api.ts
Labels: misc

Update Nuova cartella (2)/src/App.tsx
  Nuova cartella (2)/src/App.tsx
Labels: misc

Update Nuova cartella (2)/src/app/_components/container.tsx
  Nuova cartella (2)/src/app/_components/container.tsx
Labels: misc

Update Nuova cartella (2)/src/app/page.tsx
  Nuova cartella (2)/src/app/page.tsx
Labels: misc

Update Nuova cartella (3)/package.json
  Nuova cartella (3)/package.json
Labels: misc

Update Nuova cartella (3)/tsconfig.json
  Nuova cartella (3)/tsconfig.json
Labels: misc

Update Nuova cartella/(2).gitignore
  Nuova cartella/(2).gitignore
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update Pong++/create_pong_logo.py
  Pong++/create_pong_logo.py
Labels: misc

Update Nuova cartella/public/favicon/site.webmanifest
  Nuova cartella/public/favicon/site.webmanifest
Labels: misc

Update Nuova cartella (2)/src/lib/api.ts
  Nuova cartella (2)/src/lib/api.ts
Labels: misc

Update Nuova cartella (2)/src/lib/api.ts
  Nuova cartella (2)/src/lib/api.ts
Labels: misc

Update tender-trappist/src/components/MazeCanvas.astro
  tender-trappist/src/components/MazeCanvas.astro
Labels: misc

Update tender-trappist/src/layouts/Layout.astro
  tender-trappist/src/layouts/Layout.astro
Labels: misc

Update tender-trappist/src/utils/Maze.ts
  tender-trappist/src/utils/Maze.ts
Labels: misc

Update tender-trappist/src/styles/global.css
  tender-trappist/src/styles/global.css
Labels: misc

Update tender-trappist/src/utils/mazeFunctions.ts
  tender-trappist/src/utils/mazeFunctions.ts
Labels: misc

Update tender-trappist/src/utils/mazeGame.ts
  tender-trappist/src/utils/mazeGame.ts
Labels: misc

Update Nuova cartella (2)/index.py
  Nuova cartella (2)/index.py
Labels: misc

Update Nuova cartella (2)/src/App.tsx
  Nuova cartella (2)/src/App.tsx
Labels: misc

Update Nuova cartella (2)/src/app/_components/container.tsx
  Nuova cartella (2)/src/app/_components/container.tsx
Labels: misc

Update Nuova cartella (2)/src/app/layout.tsx
  Nuova cartella (2)/src/app/layout.tsx
Labels: misc

Update Nuova cartella (2)/src/app/page.tsx
  Nuova cartella (2)/src/app/page.tsx
Labels: misc

Update Nuova cartella (2)/src/app/page.tsx
  Nuova cartella (2)/src/app/page.tsx
Labels: misc

Update Nuova cartella (2)/src/lib/api.ts
  Nuova cartella (2)/src/lib/api.ts
Labels: misc

Update Nuova cartella (3)/tsconfig.json
  Nuova cartella (3)/tsconfig.json
Labels: misc

Update swift copilot mac game.txt
  swift copilot mac game.txt
Labels: misc

Update tender-trappist/src/utils/__tests__/MazeRenderer.test.ts
  tender-trappist/src/utils/__tests__/MazeRenderer.test.ts
Labels: misc

Update tender-trappist/src/utils/__tests__/MazeRenderer.test.ts
  tender-trappist/src/utils/__tests__/MazeRenderer.test.ts
Labels: misc
